{% extends 'todoapp/base.html' %}
{% block content %}
<div class="container w-25">
    <form method="post">
        {% csrf_token %}
        <h3>Hello, {{user}}</h3>
        <b style="font-size: 20px;">Get things done...!</b>
        <a href="{% url 'signout' %}" id="space">
            <i class="fa-solid fa-right-from-bracket"></i></a>
        <hr>

        <div class="mb-3">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter today's task"
                name="title" required value="{{obj.title}}">
            <br>
            <input type="submit" class="button w-100" id="button" value="Update Task">
        </div>
    </form>
</div>
{% endblock %}